body {
    padding-top: 65px;
    font-family: 'Roboto', sans-serif;
    color: #494C4E;
}

h1 > .fa {
    font-size: 36px;
    margin: 0 7px 0 7px;
}

p {
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.8em;
}

a {
    color: #ff5417;
}   

a:hover {
    color: #ff5417;
    text-decoration: underline;
}

a:focus {
    color: #ff5417;
}

.navbar-default {
    background: #fff;
    border: 0;
}

.navbar-default .navbar-nav > li > .active {
    color: #ff5417;
}

.navbar-default .navbar-nav > li > a {
    color: #494C4E;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #ff5417;
}

.navbar-default .navbar-nav > li > a:focus {
    color: #ff5417;
}

.img-center {
    margin: 0 auto;
}

.showcase-photo {
    border-radius: 20px;
    width: 150px;
    height: auto;
    float: left;
}

.name-box {
    float: left;
    padding: 20px 0 0 35px;
}

.name-box > p {
    font-family: 'Roboto', sans-serif;
}

.fa {
    font-size: 18px;
}

.social-list > li {
    margin: 0 50px 30px 0;
    transition: color 0.3s ease;
}

.social-list > li {
    margin: 0 50px 30px 0;
}

.social-list > li > a {
    transition: color 0.3s ease;
    color: #494C4E;
}

.social-list > li > a:hover {
    color: #ff5417;
}

.social-name {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-left: 7px;
}

.projects h2 {
    font-size: 18px;
    font-weight: bold;
}

.project-showcase {
    background-color: #f3f3f3;
    padding: 30px 0 30px 0;
}